/* Add your CSS here */
body {
  background-color: #f5f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


header {
  align-items: center;
  background: linear-gradient(90deg, #0067b5, #00a3ff);
  padding: 5.5rem 1rem;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

header h1 {
  flex: 1;
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
}

header img {
  max-width: 200px;
}

.card-container {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 20px;
  cursor: grab;
}

.card-container:active{
   cursor: grabbing;
}


.timeline {
  display: flex;
  gap: 35px;
  align-items: flex-start;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
}

.card {
  position: relative;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
  scroll-snap-align: start;
  overflow: hidden;
}

.card h2 {
  margin: 0;
  color: #0067b5;
}

.card h3 {
  margin: 0;
  color: #333;
}

.card-text {
  max-height: 0;
  border-radius: 6px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #e0f7ff;
}

.card:hover .card-text {
  opacity: 1;
  max-height: 200px;
}

.card-image {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  display: block;
}


@media (max-width: 768px) {
  .timeline {
    justify-content: center;
    align-items: center;
    flex-direction: column;};
  .card-container {
    overflow-x: hidden;
  }
}

.grid {
  padding: 5rem;
}

.learn-btn {
  border: 1px solid #024CB6;
  padding: 10px;
  color: #024CB6;
}

.learn-btn:hover{
  border-color: #002c6a;
  color: #002c6a;
}

.subscription {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  padding-bottom: 10rem;
}

.email {
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #0067b5;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.btn-custom {
  color: white;
  background-color: #0067b5;
  border-radius: 0;
}

.btn-custom:hover {
  color: white;
  background-color: #034e88;
}

